﻿/* CSS for CapX */

.hspace {
        padding-right: 30px;
}

.vspace {
        padding-bottom: 10px;
}

.textspan {
	font-size: 10px;
}

/* SyncFusion Treeview */
.e-treeview .e-text {
	font-size: 11px;
}

/* SyncFusion Grid */
.e-grid .e-rowcell {
	line-height: 7px;
	padding: .4em;
}

.e-grid .e-headercell {
	height: 20px;
	padding: .4em;
}

#report1 .e-rowcell {
	text-align: right;
}

#report1 .e-rowcell:first-of-type {
	text-align: left;
}

.boldlabel {
	font-size: 12px;
	margin: 3px;
	font-weight: bold;
	color: #D08080;
}

#divFilterTree {
	width: 125px;
}

#divAEGrid {
	width: 175px;
}
	
#FilterInput{
    border:0px;
}

#FilterInput td {
	padding: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: #C0C0C0;
	font-size: 10px;
	border:0px;
}
#FilterInput th {
	text-align: left;
	padding: 3px;
	font-weight: bold;
	font-size: 11px;
}

#FilterTable tr:nth-child(even) {
	background-color: aliceblue;
}

#FilterTable tr:nth-child(odd) {
	background-color: beige;
}

#FilterTable td {
	padding: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #C0C0C0;
	font-size: 10px;
	border-collapse:collapse;
}
#FilterTable th {
	text-align: left;
	padding: 3px;
	font-weight: bold;
	font-size: 11px;
	background-color: white;
}
select,option,input  {
	font-size: 11px;
}
#tabFilterTree{
    border:1px;
    border-style:none;
}
#tabFilterInput,#tabFilterTree{
    padding:10px 20px;
}
#divAChart{
    display:none;
}