﻿/*CSS Reset - Increases Browser Compatability*/
html {
	color: #000;
	background: #000;
}
/* body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
margin:0;padding:0}
*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote {
	margin: 0;
	padding: 0;
}
/*
table{border-collapse:collapse;border-spacing:0}
*/
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
li {
	list-style: none;
}
caption, th {
	text-align: left;
}
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}
input, textarea, select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input, textarea, select {
	font-size: 100%;
}
legend {
	color: #000;
}
/*Template Body and Wrapper*/
body {
	color: #000000;
	background-color: black;
	font-family: Verdana;
	margin-top: 0px;
	font-size: 1.1em;
}
#wrapper {
	background-color: #FFFFCC;
	width: 1000px;
	margin: 10px auto;
}
/*Template Banner*/
#banner {
	background: #997799;
	padding: 10px;
}
#bannernav {
	float: right;
}
#bannertext {
	font-size: .8em;
	float: left;
	padding-left: 15px;
}
#bannerimage img {
	padding-top: 4px;
	vertical-align: middle;
	float: left;
	height: 45px;
}
#banner a {
	color: #FF9933;
	font-weight: bold;
	text-decoration: none;
	font-size: .7em;
}
#banner a:hover {
	color: #cc3300;
	font-weight: bold;
	text-decoration: none;
}
ul#nav {
	list-style: none;
	padding: 0;
}
/*Template Navigation Bar*/
ul#nav li {
	display: inline;
}
ul#nav li a {
	text-decoration: none;
	padding: 5px 0;
	width: 100px;
	background: #336699;
	color: #eee;
	float: left;
	text-align: center;
	font-size: 1.0em;
/*border-left:1px solid #fff;*/
}
ul#nav li a:hover {
	background: silver;
	color: #000;
}
/*Template Content Area Styles*/
#contentblock {
	margin: 10px;
	font-size: .70em;
	padding-bottom: 2em;
}
#codeblock {
	margin: 10px;
	font-size: .70em;
	padding-bottom: 2em;
	display: none;
	overflow-x: auto;
}
.widgethelp {
	margin: 10px 0px 10px 10px;
	background-color: #FFCC00;
	overflow: auto;
	padding: 2px;
	font-size:13px;
	display:none;
}
.widgetNs{
    font-size:13px;
}
.widgethelp ul{
    padding:0px;
    margin-top: 0px;
}
.widgethelp li{
    margin:0px;
    padding:1px;
    font-size: 12px;
    list-style:square;
}  
.widgethelp a{
    font-weight:normal;
    color:red;
    text-decoration:none;
    font-size: 12px;
}
  
/*Template Footer*/
#footer {
	background: #997799;
	padding: 10px;
	font-size: .6em;
}
#footertext {
	font-size: .6em;
}
#footer a:link {
	color: #336699;
	font-weight: bold;
	text-decoration: none;
}
#footer a:visited {
	color: #336699;
	font-weight: bold;
	text-decoration: none;
}
#footer a:active {
	color: #336699;
	font-weight: bold;
	text-decoration: none;
}
#footer a:hover {
	color: #000000;
	font-weight: bold;
}
/* Utility Styles */
.clear {
	/*An empty "clear: both" style div at the end of a section */
/*with floating columns is is useful for at the*/
/*end of a section with floating columns. */
clear: both;
}
/*General Styles*/
#content {
	margin-left: 30px;
	font-size: .70em;
	padding-bottom: 2em;
}
a:link {
	color: #336699;
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	color: #6699cc;
	font-weight: bold;
	text-decoration: none;
}
a:active {
	color: #336699;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #cc3300;
	font-weight: bold;
	text-decoration: underline;
}
P {
	color: #000000;
	margin-top: 0px;
	margin-bottom: 12px;
	margin-left: 5px;
	font-family: Verdana;
}
pre {
	background-color: #e5e5cc;
	padding: 5px;
	font-family: APL385 Unicode;
	font-size: x-small;
	margin-top: -5px;
	border: 1px #f0f0e0 solid;
}
code {
	font-family: APL385 Unicode;
}
.apl {
	font-family: APL385 Unicode;
}
td {
	color: #000000;
	font-family: Verdana;
	vertical-align: top;
}
h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 10px;
	border-top: 0px solid #003366;
	margin-left: 0px;
	color: #003366;
}
h3 {
	font-size: 1.1em;
	color: #000000;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}
ul {
	margin-top: 10px;
	margin-left: 20px;
}
ol {
	margin-top: 10px;
	margin-left: 20px;
}
li {
	margin-top: 10px;
	color: #000000;
	font-size: 100%;
}
font.value {
	color: darkblue;
	font-weight: bold;
}
font.key {
	color: darkgreen;
	font-weight: bold;
}
font.error {
	color: darkred;
	font-weight: bold;
}
heading1 {
	color: #ffffff;
	font-family: Tahoma;
	font-size: 26px;
	font-weight: normal;
	background-color: #003366;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: -30px;
	padding-top: 10px;
	padding-bottom: 3px;
	padding-left: 15px;
	width: 105%;
}
.button {
	background-color: #dcdcdc;
	font-family: Verdana;
	font-size: 1em;
	border-top: #cccccc 1px solid;
	border-bottom: #666666 1px solid;
	border-left: #cccccc 1px solid;
	border-right: #666666 1px solid;
}
.frmheader {
	color: #000000;
	background: #dcdcdc;
	font-family: Verdana;
	font-size: .7em;
	font-weight: normal;
	border-bottom: 1px solid #dcdcdc;
	padding-top: 2px;
	padding-bottom: 2px;
}
.frmtext {
	font-family: Verdana;
	font-size: .7em;
	margin-top: 8px;
	margin-bottom: 0px;
	margin-left: 32px;
}
.frmInput {
	font-family: Verdana;
	font-size: 1em;
}
.intro {
	margin-left: -15px;
}
.leftalign {
	float: left;
}
.rightalign {
	float: right;
}
.exampletable td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.rjust {
	text-align: right;
}
.ljust {
	text-align: left;
}
.cjust {
	text-align: center;
}
.centered {
	margin-left: auto;
	margin-right: auto;
}
