﻿/*This is a sample Cascading Style Sheet (CSS) for MiServer */
/*If you want to learn more about CSS, please visit http://www.w3schools.com/css/css_intro.asp*/

@import url("ResetCSS.css");

/*Template Body and Wrapper*/

body { 
color: #000000; 
background-color:black;
font-family: Verdana; 
margin: 0;
font-size: 1.1em;
}

#wrapper {
background-color: #FFFFCC;
width: 1000px;
margin: 10px auto;
}

/*Template Banner*/

#banner {
background: #FFCC00;
padding: 10px;
}
 
#bannernav {
float: right
}

#bannertext {
font-size: .8em;
float: left;
padding-left:15px;
}

#bannerimage img {
padding-top:4px;
vertical-align:middle;
float: left;
height:45px;
}


#banner a { 
color: #FF9933; 
font-weight: bold;
text-decoration: none;
font-size: .7em;
}

#banner a:hover	{
color: #cc3300;
font-weight: bold;
text-decoration: none;
}

ul#nav {
list-style:none;
padding:0;
}

/*Template Navigation Bar*/
ul#nav li {
display:inline
}

ul#nav li a {
text-decoration:none;
padding:5px 0;
width:100px;
background:#FFFF99;
color:black;
float:left;
text-align:center;
font-size:1.0em;
border-radius:15px;

/*border-left:1px solid #fff;*/
}

ul#nav li a:hover {
background:silver;
color:#000
}

/*Template Content Area Styles*/

#contentblock { 
font-size: .70em; 
padding-bottom: 2em;
width:1000px;
position:absolute;
bottom:0px;
top:70px;
background-color:#FFFF99 ;
}

/*Template Content Area Styles*/

#codeblock { 
margin: 10px; 
font-size: .70em; 
padding-bottom: 2em;
display: none;
}

/*Template Footer*/

#footer {
margin:0px;
background:#FFCC00;
font-size:.6em;
position:bottom;
bottom:0px;
padding-bottom:5px;
padding-top:5px;
width:inherit;
}

#footertext{
    font-size:.6em;    
    margin-left:10px;
    margin-right:10px;
}

#footer a:link { 
color: #336699; 
font-weight: bold;
text-decoration: none;
}

#footer a:visited {
color: #336699;
font-weight: bold; 
text-decoration: none;
}

#footer a:active {
color: #336699;
font-weight: bold; 
text-decoration: none;
}

#footer a:hover	{
color: #000000;
font-weight: bold; 

}

/* Utility Styles */

.clear {
/*An empty "clear: both" style div at the end of a section */
/*with floating columns is is useful for at the*/
/*end of a section with floating columns. */
clear:both;
}

/*General Styles*/

#content { 
margin-left: 30px; 
font-size: .70em; 
padding-bottom: 2em;
}

a:link { 
color: #336699; 
font-weight: bold;
text-decoration: none;
}

a:visited {
color: #6699cc;
font-weight: bold; 
text-decoration: none;
}

a:active {
color: #336699;
font-weight: bold; 
text-decoration: none;
}

a:hover	{
color: #cc3300;
font-weight: bold; 
text-decoration: underline;
}

P {
color: #000000;
margin-top: 0px;
margin-bottom: 12px; 
margin-left: 5px;
font-family: Verdana;
}

pre {
background-color: #e5e5cc;
padding: 5px; 
font-family: APL385 Unicode;
font-size: x-small;
margin-top: -5px; border: 1px #f0f0e0 solid; }

code {
font-family: APL385 Unicode
}

.apl {
font-family: APL385 Unicode
}

td {
color: #000000;
font-family: Verdana; 
vertical-align: top;
}

h2 {
font-size: 1.5em;
font-weight: bold;
margin-top: 25px;
margin-bottom: 10px;
border-top: 0px solid #003366;
margin-left: 0px; color: #003366;
}

h3 {
font-size: 1.1em;
color: #000000;
margin-left: 0px;
margin-top: 10px;
margin-bottom:  10px;
}

font.value {
color: darkblue;
font-weight: bold;
}

font.key {
color: darkgreen;
font-weight: bold;
}

font.error {
color: darkred;
font-weight: bold;
}

heading1 {
color: #ffffff;
font-family: Tahoma;
font-size: 26px; 
font-weight: normal; 
background-color: #003366; 
margin-top: 0px;
margin-bottom: 0px;
margin-left: -30px; 
padding-top: 10px;
padding-bottom: 3px; 
padding-left: 15px;
width: 105%;
}

.button	{
background-color: #dcdcdc;
font-family: Verdana; 
font-size: 1em;
border-top: #cccccc 1px solid; 
border-bottom: #666666 1px solid; 
border-left: #cccccc 1px solid; 
border-right: #666666 1px solid;
}

.frmheader {
color: #000000;
background: #dcdcdc; 
font-family: Verdana;
font-size: .7em;
font-weight: normal;
border-bottom: 1px solid #dcdcdc;
padding-top: 2px; 
padding-bottom: 2px;
}

.frmtext {
font-family: Verdana;
font-size: .7em; 
margin-top: 8px;
margin-bottom: 0px;
margin-left: 32px;
}

.frmInput {
font-family: Verdana;
font-size: 1em;
}

.intro	{ margin-left: -15px; }

.leftalign { float:left; }

.rightalign { float:right }

.exampletable td {
    padding-left:10px;
    padding-right:10px;
    padding-top:3px;
    padding-bottom:3px;
}

.rjust{
	text-align:right;
}
.ljust{
	text-align:left;
}
.cjust{
	text-align:center;
}
.centered{
	margin-left:auto;
	margin-right:auto;
}